[submodule "lib/crc"]
	path = dep/crc
	url = https://git.stackforce.de/crc.git
[submodule "dep/callback-observer"]
	path = dep/callback-observer
	url = https://git.stackforce.de/callback-observer
[submodule "cmake/modules"]
	path = cmake/modules
	url = https://git.stackforce.de/cmake-modules.git
[submodule "dep/stringhex"]
	path = dep/stringhex
	url = https://git.stackforce.de/stringhex.git
[submodule "dep/serial-interface-mac"]
	path = dep/serial-interface-mac
	url = https://git.stackforce.de/serial-interface-mac
