[submodule "lib/crc"]
	path = dep/crc
	url = https://git.stackforce.de/crc.git
[submodule "dep/crc"]
	path = dep/crc
	url = https://github.com/stackforce/crc.git
[submodule "dep/observer"]
	path = dep/observer
	url = https://github.com/stackforce/observer.git
